<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="5.0">
  <display-name>car_sale</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>HomePage</display-name>
    <servlet-name>HomePage</servlet-name>
    <servlet-class>controller.HomePage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HomePage</servlet-name>
    <url-pattern>/home</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Test</display-name>
    <servlet-name>Test</servlet-name>
    <servlet-class>test.Test</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Test</servlet-name>
    <url-pattern>/test</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CarController</display-name>
    <servlet-name>CarController</servlet-name>
    <servlet-class>controller.CarController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CarController</servlet-name>
    <url-pattern>/car</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FordController</display-name>
    <servlet-name>FordController</servlet-name>
    <servlet-class>controller.FordController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FordController</servlet-name>
    <url-pattern>/ford</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BmwController</display-name>
    <servlet-name>BmwController</servlet-name>
    <servlet-class>controller.BmwController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BmwController</servlet-name>
    <url-pattern>/bmw</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HondaController</display-name>
    <servlet-name>HondaController</servlet-name>
    <servlet-class>controller.HondaController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HondaController</servlet-name>
    <url-pattern>/honda</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>NissanController</display-name>
    <servlet-name>NissanController</servlet-name>
    <servlet-class>controller.NissanController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NissanController</servlet-name>
    <url-pattern>/nissan</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserController</display-name>
    <servlet-name>UserController</servlet-name>
    <servlet-class>controller.UserController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserController</servlet-name>
    <url-pattern>/user</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginController</display-name>
    <servlet-name>LoginController</servlet-name>
    <servlet-class>controller.LoginController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginController</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BuyingListController</display-name>
    <servlet-name>BuyingListController</servlet-name>
    <servlet-class>controller.BuyingListController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BuyingListController</servlet-name>
    <url-pattern>/buyinglist</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginRedirect</display-name>
    <servlet-name>LoginRedirect</servlet-name>
    <servlet-class>controller.LoginRedirect</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginRedirect</servlet-name>
    <url-pattern></url-pattern>
  </servlet-mapping>
</web-app>